<!-- Подписка на рассылку -->
<div class="modal fade" tabindex="-1" id="subscribe">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal__image">
                <img loading="lazy" src="img/image8.webp" alt="" class="modal__pic1 desc">
                <img loading="lazy" src="img/image3.webp" alt="" class="modal__pic1 mob">
            </div>
            <div class="modal__body">
                <div class="modal__text">
                    <p>
                        Sign up to our newsletter and be first to hear
                        our promotions and new campaigns
                    </p>
                </div>
                <form action="#">
                    <div class="modal__input">
                        <input data-required autocomplete="off" type="text" name="form[]"
                            placeholder="Enter your email address" class="input">
                    </div>
                    <button type="submit" class="btn-custom btn-silver-rust">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Pop-up регистрация -->
<div class="modal fade" tabindex="-1" id="registration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal__image">
                <img loading="lazy" src="img/image18.webp" alt="" class="modal__pic1 desc">
                <img loading="lazy" src="img/image19.webp" alt="" class="modal__pic1 mob">
            </div>
            <div class="modal__body">
                <div class="modal__title text-uppercase">
                    Welcome to PANTIS
                </div>
                <div class="modal__text">
                    <p>
                        Create an account and receive 500 welcome bonus points.
                    </p>
                    <p>
                        Plus early access to new arrivals, private drops,
                        and exclusive offers.
                    </p>
                </div>
                <form action="#">
                    <div class="modal__input">
                        <input data-required autocomplete="off" type="text" name="form[]" placeholder="Email"
                            class="input">
                    </div>
                    <button type="submit" class="btn-custom btn-silver-rust text-uppercase">CREATE ACCOUNT</button>
                </form>
            </div>
        </div>
    </div>
</div>