<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет - информация</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-black.njk' %}
        <main class="main">

            <div class="cabinet cabinet-main">
                <div class="container">
                    <div class="cabinet__content d-flex">
                        <ul class="cabinet-nav d-flex flex-column gap-4">
                            <li>
                                <a href="cabinet-info.html" data-goto=".cabinet__body" data-goto-header
                                    class="cabinet-nav-link text-uppercase active">ABOUT
                                    YOU</a>
                            </li>
                            <li>
                                <a href="cabinet-favorites.html" data-goto=".cabinet__body" data-goto-header
                                    class="cabinet-nav-link text-uppercase">Favorites</a>
                            </li>
                            <li>
                                <a href="cabinet-history.html" data-goto=".cabinet__body" data-goto-header
                                    class="cabinet-nav-link text-uppercase">ORDER HISTORY</a>
                            </li>
                        </ul>
                        <div class="cabinet__body d-flex align-items-start gap-5">
                            <span class="cabinet-nav-link text-uppercase active">ABOUT
                                YOU</span>
                            <div class="cabinet-info w100">
                                <div class="cabinet-info__column d-flex flex-column">
                                    <div class="cabinet-info__label">First Name</div>
                                    <div class="cabinet-info__title">Ekaterina</div>
                                </div>
                                <div class="cabinet-info__column d-flex flex-column">
                                    <div class="cabinet-info__label">Last Name</div>
                                    <div class="cabinet-info__title">Madonich</div>
                                </div>
                                <div class="cabinet-info__column d-flex flex-column">
                                    <div class="cabinet-info__label">Email</div>
                                    <div class="cabinet-info__title">ekt.madonich@gmail.com</div>
                                </div>
                                <div class="cabinet-info__column d-flex flex-column">
                                    <div class="cabinet-info__label">Password</div>
                                    <a href="./" class="cabinet-info__title text-decoration-underline">send reset
                                        email</a>
                                </div>
                            </div>
                            <a href="./" class="cabinet__logout text-uppercase text-decoration-underline">LOGOUT</a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>