<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет - вход</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-black.njk' %}
        <main class="main">

            <div class="cabinet">
                <div class="container">
                    <div class="cabinet-auth row align-items-center justify-content-between">
                        <div class="cabinet-auth__image col-12 col-md-6 col-lg-6 text-center p-0">
                            <img src="img/image20.webp" alt="" class="img-fluid mix-blend-multiply w-md-75">
                        </div>
                        <div class="cabinet-auth__body col-12 col-md-6 col-lg-5">
                            <div class="text-center mb-5">
                                <h5 class="cabinet-auth__title text-uppercase">WELCOME BACK</h5>
                                <div class="cabinet-auth__text">
                                    <p class="small mb-1">
                                        Login to Your Account
                                    </p>
                                    <p class="small">
                                        Don't have an account?
                                        <a href="./">Register</a>
                                    </p>
                                </div>
                            </div>
                            <form action="#">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email"
                                        data-required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password"
                                        data-required>
                                </div>

                                <div class="form-bottom d-flex flex-column">
                                    <button type="submit" class="btn-custom btn-brown w-100">SIGN IN</button>
                                    <a href="./" class="form-forgot-password text-uppercase text-center">
                                        Forgot password?
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>