<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет - регистрация</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-black.njk' %}
        <main class="main">

            <div class="cabinet">
                <div class="container">
                    <div class="cabinet-auth row align-items-center justify-content-between">
                        <div class="cabinet-auth__image col-12 col-md-6 col-lg-6 text-center p-0">
                            <img src="img/image20.webp" alt="" class="img-fluid mix-blend-multiply w-md-75">
                        </div>
                        <div class="cabinet-auth__body col-12 col-md-6 col-lg-5">
                            <a href="./" class="cabinet-auth__back">
                                <svg aria-hidden="true" width="20" height="17">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                            <div class="text-center mb-5">
                                <h5 class="cabinet-auth__title text-uppercase">NEW HERE?</h5>
                                <div class="cabinet-auth__text">
                                    <p class="small">
                                        Create an account to save your
                                        wishlist and purchase information.
                                    </p>
                                </div>
                            </div>
                            <form action="#">
                                <div class="mb-3">
                                    <label for="first-name" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="first-name" placeholder="First Name"
                                        data-required>
                                </div>
                                <div class="mb-3">
                                    <label for="last-name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Last Name"
                                        data-required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email"
                                        data-required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password"
                                        data-required>
                                </div>
                                <div class="form-bottom d-flex flex-column">
                                    <div class="form-text">
                                        By clicking "Register" you agree to receive recurring,
                                        automated marketing messages from SKIMS and our
                                        <a href="./">Terms</a> and <a href="./">Privacy Policy</a>.
                                    </div>
                                    <button type="submit" class="btn-custom btn-brown w-100">SIGN IN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>