<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет - регистрация</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-black.njk' %}
        <main class="main">

            <div class="cabinet">
                <div class="container">
                    <div class="cabinet-auth">
                        <div class="cabinet-auth__image">
                            <img src="img/image20.webp" alt="">
                        </div>
                        <div class="cabinet-auth__body">
                            <div class="cabinet-auth__top">
                                <a href="./" class="cabinet-auth__back">
                                    <svg aria-hidden="true" width="20" height="17">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </a>
                                <div class="cabinet-auth__titles">
                                    <div class="cabinet-auth__title">
                                        NEW HERE?
                                    </div>
                                    <div class="cabinet-auth__text">
                                        <p>
                                            Create an account to save your
                                            wishlist and purchase information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <form action="#" class="form">
                                <div class="form__inputs">
                                    <div class="form__input">
                                        <label for="first-name">First Name</label>
                                        <input id="first-name" data-required autocomplete="off" type="text"
                                            name="form[]" placeholder="First Name">
                                    </div>
                                    <div class="form__input">
                                        <label for="last-name">Last Name </label>
                                        <input id="last-name" data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Last Name ">
                                    </div>
                                    <div class="form__input">
                                        <label for="email">Email</label>
                                        <input id="email" data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Email">
                                    </div>
                                    <div class="form__input">
                                        <label for="password">Password</label>
                                        <input id="password" data-required autocomplete="off" type="password"
                                            name="form[]" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form__bottom">
                                    <div class="form__text">
                                        By clicking "Register" you agree to receive recurring,
                                        automated marketing messages from SKIMS and our
                                        <a href="./">Terms</a> and <a href="./">Privacy Policy</a>.
                                    </div>
                                    <button type="submit" class="btn-custom btn-brown">REGISTER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>