<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Каталог</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-black.njk' %}
        <main class="main">

            <div class="catalog">
                <div class="container">
                    <ul class="catalog-filter-nav d-flex flex-wrap align-items-center justify-content-center">
                        <li><a href="#" class="active">New In</a></li>
                        <li><a href="#">Socks</a></li>
                        <li><a href="#">Stockings</a></li>
                        <li><a href="#">Knee-Highs</a></li>
                        <li><a href="#">Tights</a></li>
                        <li><a href="#">Sets</a></li>
                        <li><a href="#">All</a></li>
                    </ul>
                    <div class="catalog-title text-center text-uppercase">
                        New In
                    </div>
                    <div class="catalog-filter">
                        <div class="d-flex justify-content-between w-100 gap-3">
                            <button class="catalog-filter__button p-0 text-start" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false"
                                aria-controls="collapseFilter">
                                Sort by
                            </button>
                            <button class="catalog-filter__button p-0 text-end" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                Color
                            </button>
                        </div>
                        <div class="collapse" id="collapseFilter" data-bs-parent=".catalog-filter">
                            <div class="catalog-filter__dropdown d-flex align-items-start g-3">
                                <div class="catalog-filter__nav d-flex flex-column">
                                    <span data-sort="price-low">Price: Low to High</span>
                                    <span data-sort="price-high">Price: High to Low</span>
                                    <span data-sort="best">Best Selling</span>
                                    <span data-sort="oldest">Oldest to Newest</span>
                                    <span data-sort="newest">Newest to Oldest</span>
                                </div>
                                <div class="catalog-filter__colors d-flex flex-wrap justify-content-end">
                                    <span style="background-color: #2d2d2d;"></span>
                                    <span style="background-color: #fff;"></span>
                                    <span style="background-color: #3093cb;"></span>
                                    <span style="background-color: #c8a887;"></span>
                                    <span style="background-color: #bebebe;"></span>
                                    <span style="background-color: #a1714c;"></span>
                                    <span style="background-color: #35496a;"></span>
                                    <span style="background-color: #d6d5c4;"></span>
                                    <span style="background-color: #f00e32;"></span>
                                    <span style="background-color: #fe729f;"></span>
                                    <span style="background-color: #ffd200;"></span>
                                    <span style="background-color: #ffbc57;"></span>
                                    <span style="background-color: #ff7817;"></span>
                                    <span style="background-color: #7d4a85;"></span>
                                    <span style="background-color: #eb895c;"></span>
                                    <span style="background-color: #f8d5ae;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__body d-flex flex-column align-items-center">
                        <div class="catalog-cards w-100 row row-cols-2 row-cols-xl-3 w-100">
                            <div class="col">
                                <a href="#" class="card-product h-100">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="Product"
                                            class="card-product__pic1 pic-hover1">
                                        <img loading="lazy" src="img/product2.webp" alt="Product hover"
                                            class="card-product__pic1 pic-hover2">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__name text-center">Name</div>
                                        <div class="card-product__price text-center">rub 480</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="card-product h-100">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="Product"
                                            class="card-product__pic1 pic-hover1">
                                        <img loading="lazy" src="img/product2.webp" alt="Product hover"
                                            class="card-product__pic1 pic-hover2">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__name text-center">Name</div>
                                        <div class="card-product__price text-center">rub 480</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="card-product h-100">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="Product"
                                            class="card-product__pic1 pic-hover1">
                                        <img loading="lazy" src="img/product2.webp" alt="Product hover"
                                            class="card-product__pic1 pic-hover2">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__name text-center">Name</div>
                                        <div class="card-product__price text-center">rub 480</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="card-product h-100">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="Product"
                                            class="card-product__pic1 pic-hover1">
                                        <img loading="lazy" src="img/product2.webp" alt="Product hover"
                                            class="card-product__pic1 pic-hover2">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__name text-center">Name</div>
                                        <div class="card-product__price text-center">rub 480</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="card-product h-100">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="Product"
                                            class="card-product__pic1 pic-hover1">
                                        <img loading="lazy" src="img/product2.webp" alt="Product hover"
                                            class="card-product__pic1 pic-hover2">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__name text-center">Name</div>
                                        <div class="card-product__price text-center">rub 480</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="card-product h-100">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="Product"
                                            class="card-product__pic1 pic-hover1">
                                        <img loading="lazy" src="img/product2.webp" alt="Product hover"
                                            class="card-product__pic1 pic-hover2">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__name text-center">Name</div>
                                        <div class="card-product__price text-center">rub 480</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button type="button" class="btn-custom">See more</button>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>