.block-products {
    &.main-products {
        height: 100vh;
        min-height: 600px;
        @media (max-width: 992px) {
            height: 100%;
            min-height: fit-content;
        }
        .block-products__pic {
            height: 100vh;
            min-height: 600px;
            @media (max-width: 992px) {
                height: 100%;
                min-height: fit-content;
            }
        }
    }
    &.block-products-world,
    &.block-products-lookbook {
        @media (max-width: 575px) {
            flex-direction: column-reverse;
        }
    }
    // .block-products__card

    &__card {
        position: relative;
        display: flex;
        align-items: flex-end;
        &.card-shadow {
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, transparent 56%, rgba(0, 0, 0, 0.6) 100%);
            }
        }
        &.card-image-mini {
            padding: 54px 24px 54px 24px !important;
            align-items: center;
            justify-content: center !important;
            .block-products__pic {
                max-width: 618px;
                height: auto;
                @media (max-width: 575px) {
                    height: 240px;
                    max-width: fit-content;
                    width: auto;
                }
                @media (max-width: 389px) {
                    width: 100%;
                }
            }
        }
        &.card-image-mini2 {
            padding: 54px 24px 54px 24px !important;
            align-items: center;
            justify-content: center !important;
            .block-products__pic {
                height: auto;
                max-width: 412px;
                @media (max-width: 575px) {
                    height: 358px;
                    max-width: fit-content;
                    width: auto;
                }
                @media (max-width: 389px) {
                    width: 100%;
                }
            }
        }
        &.card-image-lookbook {
            padding: 74px 69px 74px 69px !important;
            align-items: center;
            justify-content: center !important;
            @media (max-width: 992px) {
                padding: 54px 24px 54px 24px !important;
            }
            @media (max-width: 575px) {
                justify-content: flex-end !important;
                padding: 54px 0px 54px 40px !important;
            }
        }
        &.card-image-big {
            @media (max-width: 575px) {
                padding: 0px !important;
            }
        }
        &.card-image-lookbook-right {
            @media (max-width: 575px) {
                justify-content: flex-end !important;
                padding: 54px 0px 54px 40px !important;
            }
        }
        &.card-image-lookbook-left {
            @media (max-width: 575px) {
                justify-content: flex-start !important;
                padding: 54px 40px 54px 0px !important;
            }
        }
        &.card2 {
            .block-products__item {
                max-width: 100%;
            }
        }
        &:nth-child(odd) {
            justify-content: flex-end;
            .block-products__item {
                right: 0;
                margin-left: auto;
                align-items: flex-end;
            }
        }
    }

    // .block-products__pic

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 450px) {
            max-height: 600px;
        }
        &.desc {
            @media (max-width: 450px) {
                display: none;
            }
        }
        &.mob {
            display: none;
            @media (max-width: 450px) {
                display: block;
            }
        }
    }

    // .block-products__item

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 720px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 50px;
        @media (max-width: 992px) {
            bottom: 20px;
        }
    }

    // .block-products__text

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: var(--color);
        @media (max-width: 768px) {
            font-size: 10px;
            line-height: 180%;
            gap: 4px;
        }
        span {
            font-size: 20px;
            line-height: 90%;
            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 113%;
            }
        }
    }
}
.block-products-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    padding: 20px !important;
    @media (max-width: 575px) {
        min-height: 600px;
        padding: 20px 24px !important;
    }
    p {
        max-width: 466px;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        color: var(--fanciclub-com-black);
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
    // .block-products-text__title

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 122%;
        text-align: center;
        color: var(--fanciclub-com-black);
        margin: 0px 0px 20px 0px;
        @media (max-width: 768px) {
            font-size: 20px;
        }
        @media (max-width: 575px) {
            margin: 0px 0px 35px 0px;
        }
    }

    // .block-products-text__name

    &__name {
        margin: 0px 0px 60px 0px;
        font-weight: 400;
        font-size: 22px;
        line-height: 122%;
        text-align: center;
        color: var(--fanciclub-com-black);
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 575px) {
            margin: 0px 0px 80px 0px;
        }
    }
}

.block-catalog-products {
    padding: 70px 0px 58px 0px;
    @media (max-width: 992px) {
        padding: 45px 0px 50px 0px;
    }
    .title2 {
        margin-bottom: 113px;
        @media (max-width: 992px) {
            margin-bottom: 36px;
        }
    }
    .btn-custom {
        margin: 77px 0px 0px 0px;
        @media (max-width: 992px) {
            margin: 40px 0px 0px 0px;
        }
    }

    // .block-catalog-products__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.cards-slider {
    width: 100%;
    overflow: visible;
    clip-path: polygon(0 0, 100vw 0, 100vw 100%, 0 100%);
    min-width: 0;
    @media (max-width: 768px) {
        margin: 0px -2rem;
        padding: 0px 2rem;
        width: calc(100% + 2rem);
    }
    // .cards-slider__slide

    &__slide {
        flex: 0 0 426px;
        width: 426px;
        display: flex;
        height: auto;
        @media (max-width: 992px) {
            flex: 0 0 272px;
            width: 272px;
        }
        @media (max-width: 550px) {
            flex: 0 0 172px;
            width: 172px;
        }
    }
}
.card-product {
    display: flex;
    flex-direction: column;
    gap: 23.5px;
    @media (max-width: 992px) {
        gap: 12px;
    }
    // .card-product__pic1

    &__pic1 {
        background: #fff;
        height: 568px;
        width: 100%;
        object-fit: contain;
        @media (max-width: 992px) {
            height: 350px;
        }
        @media (max-width: 550px) {
            height: 237px;
        }
    }

    // .card-product__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .card-product__name

    &__name {
        font-weight: 400;
        font-size: 11px;
        line-height: 155%;
        color: var(--fanciclub-com-black);
    }

    // .card-product__price

    &__price {
        font-weight: 400;
        font-size: 9px;
        line-height: 121%;
        text-transform: uppercase;
        color: var(--fanciclub-com-silver-rust);
    }
}

.block-video {
    @media (max-width: 768px) {
        margin: 54px 0px 0px 0px;
    }
    &.block-video-lookbook {
        margin: 0px 0px 0px 0px;
    }
    video {
        width: 100%;
        min-height: 240px;
        max-height: 800px;
        object-fit: cover;
    }
}

.block-menu {
    padding: 87px 0px;
    @media (max-width: 768px) {
        min-height: 400px;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
    }
    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 95px;
        @media (max-width: 768px) {
            flex: 1 1 auto;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        li {
            a {
                font-weight: 400;
                font-size: 36px;
                line-height: 192%;
                text-transform: uppercase;
                border-bottom: 1px solid transparent;
                transition: opacity 0.3s;
                @media (max-width: 768px) {
                    font-size: 20px;
                    text-transform: none;
                }
                &:hover {
                    opacity: 0.7;
                }
                &.active {
                    pointer-events: none;
                    border-bottom: 1px solid var(--fanciclub-com-black);
                }
            }
        }
    }
}

.cabinet {
    background: var(--color);
}
.cabinet-auth {
    gap: 44px;
    padding: 250px 0px 226px 0px;
    @media (max-width: 1320px) {
        padding: 150px 0px;
    }
    @media (max-width: 992px) {
        padding: 117px 0px 124px 0px;
    }
    // .cabinet-auth__image

    &__image {
        @media (max-width: 992px) {
            width: 100%;
        }
        img {
            mix-blend-mode: plus-darker;
            @media (max-width: 992px) {
                width: 300px;
            }
            @media (max-width: 550px) {
                width: 174px;
            }
        }
    }

    // .cabinet-auth__body

    &__body {
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    // .cabinet-auth__back

    &__back {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s;
        svg {
            fill: none;
            color: var(--fanciclub-com-black);
            stroke: var(--fanciclub-com-black);
        }
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 992px) {
            margin-top: -24px;
        }
    }

    // .cabinet-auth__title

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 146%;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 0px;
    }

    // .cabinet-auth__text

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 286px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                text-align: center;
                border-bottom: 1px solid var(--pantone-4-c);
                transition: border-bottom 0.3s;
                &:hover {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}

.cart {
    padding: 184px 0px 0px 0px;
    background: var(--color);
    &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        width: 50%;
        background: var(--color-white-solid);
        @media (max-width: 992px) {
            display: none;
        }
    }
    @media (max-width: 992px) {
        padding: 117px 0px 50px 0px;
    }
    &.cart-fixed {
        @media (max-width: 992px) {
            padding: 117px 0px 230px 0px;
        }
    }
    // .cart__content

    &__content {
        position: relative;
        z-index: 15;
        gap: 130px;
        @media (max-width: 1200px) {
            gap: 60px;
        }
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    // .cart__body

    &__body {
        flex: 0 1 520px;
        padding: 70px 0px 50px 0px;
        height: calc(100vh - 184px);
        overflow-y: auto;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 992px) {
            flex: 1 1 auto;
            height: 100%;
            padding: 0px 0px 0px 0px;
        }
    }

    // .cart__cards

    &__cards {
        gap: 40px;
        @media (max-width: 768px) {
            gap: 20px;
        }
        .quantity {
            @media (max-width: 768px) {
                background: rgba(201, 191, 182, 0.18);
            }
        }
        .quantity__button {
            @media (max-width: 768px) {
                background: rgba(201, 191, 182, 0.18);
            }
        }
    }
}
.cart-details {
    flex: 0 1 540px;
    height: calc(100vh - 184px);
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @media (max-width: 992px) {
        height: 100%;
        flex: 0 1 auto;
    }
    &.cart-details-fixed {
        @media (max-width: 992px) {
            position: fixed;
            bottom: 0;
            left: 0;
            background: var(--fanciclub-com-white);
            width: 100%;
            height: auto;
        }
        .cart-details__body {
            @media (max-width: 992px) {
                max-width: 720px;
                margin: 0 auto;
                padding: 20px 16px 30px 16px;
            }
            @media (max-width: 768px) {
                max-width: 540px;
            }
            @media (max-width: 575px) {
                max-width: 100%;
            }
        }
    }
    .form {
        gap: 60px;
    }
    .form__bottom {
        gap: 18px;
    }
    .form-text {
        max-width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.03em;
        @media (max-width: 768px) {
            font-size: 8px;
            letter-spacing: 0.04em;
        }
    }
    // .cart-details__body

    &__body {
        gap: 40px;
        padding: 0px 0px 50px 0px;
        @media (max-width: 992px) {
            gap: 34px;
            padding: 0px 0px 0px 0px;
        }
    }

    // .cart-details__title

    &__title {
        line-height: 146%;
        letter-spacing: 0.03em;
    }

    // .cart-details__subtotal

    &__subtotal {
        display: none;
        @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
        }
    }

    // .cart-details__subtotal-summ

    &__subtotal-summ {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    // .cart-details__totals

    &__totals {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 992px) {
            gap: 16px;
        }
    }

    // .cart-details__info

    &__info {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        &.desc {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    // .cart-details__name

    &__name {
        line-height: 114%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 992px) {
            font-size: 16px;
            text-transform: uppercase;
        }
        span {
            line-height: 129%;
            color: rgba(56, 40, 25, 0.5);
        }
    }

    // .cart-details__quantity

    &__quantity {
        font-weight: 400;
        line-height: 114%;
        flex: 0 0 auto;
    }

    // .cart-details__summ

    &__summ {
        font-weight: 400;
        line-height: 114%;
        @media (max-width: 992px) {
            font-size: 16px;
        }
    }

    // .cart-details__text

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.03em;
        @media (max-width: 768px) {
            font-size: 8px;
            letter-spacing: 0.04em;
        }
    }

    // .cart-details__bottom

    &__bottom {
        gap: 18px;
    }

    // .cart-details__payments

    &__payments {
        gap: 32px;
        @media (max-width: 768px) {
            gap: 20px;
        }
        .form-bottom {
            margin-top: 37px;
            display: none;
            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }
        &.active {
            .form-column,
            .form-bottom {
                display: flex;
            }
        }
    }

    // .cart-details__payment

    &__payment {
        gap: 24px;
        .form-column {
            display: none;
        }
    }

    // .cart-details__button

    &__button {
        align-items: center;
        gap: 14px;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: var(--fanciclub-com-black);
        transition: opacity 0.3s;
        img {
            width: 24px;
            flex: 0 0 24px;
            height: auto;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.order-confirmed {
    background: var(--color);
    padding: 200px 0px;
    min-height: 100vh;
    @media (max-width: 992px) {
        padding: 120px 0px 60px 0px;
    }
    // .order-confirmed__content

    &__content {
        gap: 85px;
        @media (max-width: 992px) {
            gap: 45px;
        }
        .btn-custom {
            padding: 6px 25px;
            margin-top: 30px;
            @media (max-width: 992px) {
                margin-top: 0px;
            }
        }
    }

    // .order-confirmed__titles

    &__titles {
        gap: 50px;
        @media (max-width: 992px) {
            gap: 30px;
        }
        p {
            line-height: 146%;
        }
    }

    // .order-confirmed__text

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
    }
}
