.footer {
    padding: 106px 0px 60px 0px;
    @media (max-width: 768px) {
        padding: 54px 0px 30px 0px;
    }
    // .footer__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 137px;
        @media (max-width: 768px) {
            gap: 85px;
        }
    }
}
.footer-top {
    justify-content: space-between;
    gap: 0px;
    @media (max-width: 992px) {
        gap: 65px;
    }
    // .footer-top__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: 49px;
        @media (min-width: 993px) {
            padding: 0px 0px 0px 0px;
        }
        @media (max-width: 992px) {
            width: 100%;
            align-items: center;
        }
        @media (max-width: 768px) {
            gap: 47px;
        }
    }

    // .footer-top__logo

    &__logo {
        display: flex;
        width: 202px;
        height: auto;
        @media (max-width: 768px) {
            width: 91px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    // .footer-top__text

    &__text {
        font-size: 20px;
        line-height: 90%;
        @media (max-width: 992px) {
            text-align: center;
        }
        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 129%;
        }
    }

    // .footer-top__menu

    &__menu {
        flex: 0 1 49.3%;
        display: flex;
        gap: 54px;
        @media (min-width: 993px) {
            padding: 0px 0px 0px 0px;
        }
        @media (max-width: 992px) {
            flex: 1 1 auto;
        }
        @media (max-width: 768px) {
            margin: 0px 10px 0px 10px;
            gap: 30px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        ul {
            flex: 0 1 221px;
            @media (max-width: 768px) {
                flex: 0 1 auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            li {
                a {
                    font-size: 20px;
                    line-height: 180%;
                    white-space: nowrap;
                    transition: color 0.3s;
                    &:hover {
                        color: var(--fanciclub-com-black);
                    }
                    @media (max-width: 768px) {
                        font-size: 14px;
                        white-space: wrap;
                    }
                }
            }
        }
    }

    // .footer-top__menu-left

    &__menu-left {
        flex: 1 1 auto;
        display: flex;
        gap: 71px;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
        }
        ul {
            flex: 0 1 152px;
            @media (max-width: 768px) {
                flex: 1 1 auto;
            }
            li {
                a {
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.footer-bottom {
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    // .footer-bottom__copy

    &__copy {
        padding: 0px 0px 0px 0px;
        font-size: 14px;
        line-height: 143%;
        @media (min-width: 993px) {
            padding: 0px 0px 0px 0px;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
        @media (max-width: 550px) {
            font-size: 10px;
        }
    }

    // .footer-bottom__link

    &__link {
        padding: 0px 0px 0px 0px;
        font-size: 14px;
        line-height: 143%;
        text-align: right;
        transition: color 0.3s;
        &:hover {
            color: var(--fanciclub-com-black);
        }
        @media (min-width: 993px) {
            padding: 0px 0px 0px 0px;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
        @media (max-width: 550px) {
            font-size: 10px;
        }
    }
}
