:root {
  --fanciclub-com-black: #000;
  --fanciclub-com-burgundy: #800020;
  --fanciclub-com-cararra: #e9e6e2;
  --fanciclub-com-ebony: #0f172a;
  --fanciclub-com-gray: #808080;
  --fanciclub-com-night-rider-750: rgba(17, 13, 9, 0.75);
  --fanciclub-com-pampas: #faf9f8;
  --fanciclub-com-pearl-bush: #e9e6e2;
  --fanciclub-com-pearl-bush: #e9e6e2;
  --fanciclub-com-silver-rust: #c9bfb6;
  --fanciclub-com-white: #fff;
  --color-white-solid: #fff;
  --color-azure-11: #0f172a;
  --color-orange-90: #e9e6e2;
  --color-black-solid: #000;
  --color-orange-75: #c9bfb6;
  --color-black--0: rgba(0, 0, 0, 0);
  --color-black--500: rgba(0, 0, 0, 0.5);
  --color-black--250: rgba(0, 0, 0, 0.25);
  --color-grey-98: #faf9f8;
  --color-grey-9: #181716;
  --color-grey-9-0: rgba(24, 23, 22, 0);
  --color-orange-45: #847362;
  --color-orange-5-750: rgba(17, 13, 9, 0.75);
  --color-grey-87: #e0dfde;
  --color-grey-94: #f2f0ed;
  --color-black--42-90: rgba(0, 0, 0, 0.43);
  --color-red-25: #800020;
  --color-grey-50: #808080;
  --color-orange-45-0: rgba(132, 115, 98, 0);
  --pantone-217-c: #f1bdd4;
  --pantone-1815-c: #740f1f;
  --pantone-2707-c: #c2dbef;
  --pantone-4-c: #382819;
  --pantone-157-c: #f0a156;
  --color: #f8f5ee;
  --pantone-7477-c: #234a6b;

  --font-family: "PTMono", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "CordierLinked", sans-serif;
  --font3: "Advercase", sans-serif;
  --font4: "RedditSansCondensed", sans-serif;
}
